
@mixin flex($direction) {    
    display: flex;
    flex-direction: $direction;
    margin: auto;
}

.header-content {
    @include flex(row);
    width: 80%; 

    .logo {
        height: 50px;
    }
}

.logo-text {
    @include flex(column);

    margin-left: 10px;
    text-align: left;
    font: normal normal bold 22px Roboto;
    letter-spacing: 0px;
    color: #008CFF;
    text-transform: uppercase;
    
    .logo-text-book {
        color: #42515F;
    }
}