<div class="form-page">
    <div class="form-main">
        <mat-card class="form-heading">
            <div class="form-heading-title">
                <mat-card-title>PERSON ADDRESS FORM</mat-card-title>
            </div>
            <div class="cancel-icon" (click)="cancelForm()">
                <mat-icon>cancel</mat-icon>
            </div>
        </mat-card>
        <div>
            <form class="form-content" #addressookForm="ngForm" (ngSubmit)="addContact(addressookForm.value)">
                <label for="name">Full Name</label>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Enter Full Name</mat-label>
                    <input matInput name="name" [(ngModel)] = "this.contact.name">
                </mat-form-field>
                <label for="name">Phone Number</label>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Enter Phone Number</mat-label>
                    <input matInput name="phoneNumber"  [(ngModel)] = "this.contact.phoneNumber">
                </mat-form-field>
                <label for="name">Address</label>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Enter Address</mat-label>
                    <textarea matInput name="address"  [(ngModel)] = "this.contact.address"></textarea>
                </mat-form-field>
                <div class="city-state-zip-div">
                    <div>
                        <label for="">State</label>
                        <mat-form-field appearance="outline">
                            <mat-label>Select State</mat-label>
                            <mat-select name="state"  [(ngModel)] = "this.contact.state">
                                <mat-option *ngFor="let state of states" [value]="state">
                                    {{state}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <label for="">City</label>
                        <mat-form-field appearance="outline">
                            <mat-label>Select City</mat-label>
                            <mat-select name="city"  [(ngModel)] = "this.contact.city">
                                <mat-option *ngFor="let city of cities" [value]="city">
                                    {{city}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <label for="">Zip Code</label>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Enter Zip Code</mat-label>
                            <input matInput name="zipCode"  [(ngModel)] = "this.contact.zipCode">
                        </mat-form-field>
                    </div>
                </div>
                <div class="buttonParent">
                    <button mat-raised-button class="button addButton" id="addutton" type="submit" *ngIf="this.id == null">Add</button>
                    <button mat-raised-button class="button addButton" id="addutton" type="submit" *ngIf="this.id != null">Update</button>
                    <button mat-raised-button class="button resetButton" type="reset">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>