<div class="form-page">
    <div class="form-main">
        <mat-card class="form-heading">
            <div class="form-heading-title">
                <mat-card-title>PERSON ADDRESS FORM</mat-card-title>
            </div>
            <div class="cancel-icon" (click)="cancelForm()">
                <mat-icon>cancel</mat-icon>
            </div>
        </mat-card>
        <div>
            <form class="form-content" #addressookForm="ngForm" (ngSubmit)="addContact(addressookForm.value)">
                <label for="name">Full Name</label>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Enter Full Name</mat-label>
                    <input matInput name="name" ngModel>
                </mat-form-field>
                <label for="name">Phone Number</label>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Enter Phone Number</mat-label>
                    <input matInput name="phoneNumber" ngModel>
                </mat-form-field>
                <label for="name">Address</label>
                <!-- <textarea name="" id="" cols="30" rows="10"></textarea> -->
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Enter Address</mat-label>
                    <textarea matInput name="address" ngModel></textarea>
                </mat-form-field>
                <div class="city-state-zip-div">
                    <div>
                        <label for="">City</label>
                        <!-- <select class="select-box" name="" id="">
                        <option value={{city}} *ngFor="let city of cities">{{city}}</option>
                    </select> -->
                        <mat-form-field appearance="outline">
                            <mat-label>Select City</mat-label>
                            <mat-select name="city" ngModel>
                                <mat-option *ngFor="let city of cities" [value]="city">
                                    {{city}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <label for="">State</label>
                        <!-- <select class="select-box" name="" id="">
                        <option value={{state}} *ngFor="let state of states">{{state}}</option>
                    </select> -->
                        <mat-form-field appearance="outline">
                            <mat-label>Select State</mat-label>
                            <mat-select name="state" ngModel>
                                <mat-option *ngFor="let state of states" [value]="state">
                                    {{state}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <label for="">Zip Code</label>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Enter Zip Code</mat-label>
                            <input matInput name="zipCode" ngModel>
                        </mat-form-field>
                    </div>
                </div>
                <div class="buttonParent">
                    <button mat-raised-button class="button addButton" id="addutton" type="submit">Add</button>
                    <button mat-raised-button class="button resetButton" type="reset">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>