<mat-card class="dashboard-content">
    <div class="main-content">
        <mat-card-title class="header-content">
            <div class="person-details-text">Person Details</div>
            <div>
                <button mat-raised-button class="add-button" (click)="openForm()">
                    <div class="add-button-div">
                        <div>
                            <mat-icon class="add-icon">add</mat-icon>
                        </div>
                        <div class="add-button-text">Add Person</div>
                    </div>
                </button>
            </div>
        </mat-card-title>
        <mat-card-content>
            <div class="tablle-content">
                <table class="table">
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Full Name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip Code</th>
                        <th>Phone Number</th>
                        <th>Actions</th>
                    </tr>
                    <tr *ngFor=" let contact of contacts">
                        <th></th>
                        <td>{{contact.personId}}</td>
                        <td>{{contact.name}}</td>
                        <td>{{contact.address}}</td>
                        <td>{{contact.city}}</td>
                        <td>{{contact.state}}</td>
                        <td>{{contact.zipCode}}</td>
                        <td>{{contact.phoneNumber}}</td>
                        <td>
                            <div class="action-icons">
                                <mat-icon class="delete-icon" (click)="deleteContact(contact.personId)">delete</mat-icon>
                                <mat-icon class="edit-icon" (click)="editContact(contact.personId)">edit</mat-icon>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

        </mat-card-content>
    </div>
</mat-card>